*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./UNN-f/uni1.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    display: flex;
    color: white;
    font-size: 40px;

}
.current{
    background-color: rgba(2, 47, 229, 0.7);
    padding: 5px 9px;
    border-radius: 3px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    color: white;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2b15f2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 10px;
}
.text-box h1{
    font-size: 42px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.tb-cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.tb-cta:hover{
    border: 1px solid rgba(18, 23, 43, 0.7);
    background: rgba(16, 26, 37, 0.7);
    transition: 1s;
}
nav .fa{
    display: none;
}


@media screen and (max-width:700px) {
    
.text-box h1{
    font-size: 22px;
}
.nav-links ul li{
    display: block;
    margin: 20px;
}
.nav-links{
    position: absolute;
    background-color: rgb(20, 29, 72);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: flex;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}

.course h1{
    font-size: 96px;
}
}

/*course*/

.course{
    width: 80%;
    margin: auto;
    color: black;
    text-align: center;
    padding-top: 80px;
}

.course h1{
    font-size: 26px;
    font-weight: 600;
}

.course p{
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px){

    .row{
        flex-direction: column;
    }

    .test-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

    .call h1{
        font-size: 20px;
    }
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.col-img{
    display: block;
    background: url(./UNN-f/camp1.jpeg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    padding: 180px;
    
}


.col-img2{
    display: block;
    background: url(./UNN-f/camp22.jpeg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    padding: 180px;
    background-size: cover;
    
}


.col-img3{
    display: block;
    background: url(./UNN-f/camp4.jpeg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    padding: 180px;
    background-size: cover;
    
}

.layer{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    bottom: 3%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    opacity: 1;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.fac-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;

}
.fac-col img{
    width: 100%;
    border-radius: 10px;
}
.fac-col p{
    padding: 0;
}

.fac-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
}

.testim{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.test-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
    background: rgba(145, 165, 245, 0.2);
}

.test-col img{
    height: 50px;
    margin-left: 5px;
    margin-right: 40px;
    border-radius: 50%;
}

.test-col p{
    padding: 0;
}
.test-col h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.fa{
    color: black;
}

.call{
    margin: 80px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./UNN-f/contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 100px 0;
}
.call h1 {
    margin-bottom: 40px;
    padding: 0;
}

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

span{
    font-size: 12px;
    margin: 0 auto;
}
.icons img{
    margin: 0 3px;
    padding: 18px 0;
}